<div class="container_12">
    <div id="innerContent" class="">
        <section id='body_content' class="grid_12">
            <%=raw @page.content_for(:body) %>

            <div class="property_listing">
                <div class="grid_12 profile_left">
                <h3>Search</h3>

                <%= form_tag("/available-properties", {:method => "get", :class => "property_search"}) do %>

                    <div class="keyword group">
                        <label>
                            Keyword:
                        </label>
                        <input type="text" size="40" name="filter[keyword]" value="<%=raw (@filterParams == nil) ? '' : @filterParams['keyword'] %>" />
                    </div>
                    <div class="group">
                        <div>
                            <label>
                                City:
                            </label>
                            <%= collection_select(:filter, :city_id, @cities.all, :id, :name, {:prompt => 'All', :selected => (@filterParams == nil) ? 0 : @filterParams['city_id'] }) %>
                        </div>
                        <div>
                            <label>
                                Area:
                            </label>
                            <%= collection_select(:filter, :area_code_id, @areaCodes.all, :id, :name, {:prompt => 'All', :selected => (@filterParams == nil) ? 0 : @filterParams['area_code_id'] }) %>
                        </div>
                    </div>
                    <div class="group">
                        <div>
                            <label>
                                Broker:
                            </label>
                            <%= collection_select(:filter, :property_broker_id, @brokers, :id, :name, {:prompt => 'All', :selected => (@filterParams == nil) ? 0 : @filterParams['property_broker_id'] }) %>
                        </div>
                        <div>
                            <label>
                                Sale / Lease:
                            </label>
                            <%= select :filter, :property_type, @propertyTypes.each_with_index.map {|name, index| [name,name]}, {:prompt => 'All', :selected => (@filterParams == nil) ? 0 : @filterParams['property_type']} %>
                        </div>
                    </div>
                    <div class="group">
                        <div>
                            <label>
                                State:
                            </label>
                            <%= select :filter, :state_code, @stateCodes.each_with_index.map {|name, index| [name,name]}, {:prompt => 'All', :selected => (@filterParams == nil) ? 0 : @filterParams['state_code']} %>
                        </div>
                        <div>
                            <label>
                                Sort By:
                            </label>
                            <%= select :filter, :sort_by, @sortBy.each_with_index.map {|name, index| [name,name]}, {:selected => (@filterParams == nil) ? 0 : @filterParams['sort_by']} %>
                        </div>
                    </div>

                    <div style="margin-top: 12px">
                        <%= submit_tag("Search", {:class => "submit"}) %>

                    </div>
                <% end %>
            </div>

        <div class="grid_12 project" style=" margin: 10px;">

                <table>
                    <thead>
                        <tr><th colspan="2" class="property">
                            Property
                        </th>
                        <th class="contact">
                            Contact Information
                        </th>
                        <th class="media">
                            Flyer
                        </th>
                    </tr></thead>
                    <tbody style="clear: both">



                        <% unless @properties.blank? %>
                              <% @properties.each do |property| %>


                                <tr>
                                    <td colspan="2">
                                        <h3><%= property.title %></h3>
                                        <p style="display: inline">
                                            <% unless property.available_sf.blank? %>
                                                <b>Available SF:</b> <%= raw(property.available_sf) %><br>
                                            <% end %>
                                            <% unless property.rates.blank? %>
                                                <b>Rates:</b> <%= raw(property.rates) %>
                                            <% end %>
                                            <% unless property.highlights.blank? %>
                                                <br /><b style="float: left">Highlights:</b> <%= raw(property.highlights) %>
                                            <% end %>

                                        </p>
                                    </td>
                                    <td class="contact">
                                        <% property.brokers.each do |currBroker| %>
                                            <%= link_to currBroker.name, refinery.brokers_broker_path(currBroker) %><br />
                                        <% end %>
                                        <br>
                                    </td>
                                    <td class="flyer">
                                        <% unless property.flyer_id.blank? %>
                                            <%= link_to image_tag("pdf.png"), Refinery::Resource.find(property.flyer_id).url %>
                                        <% end %>
                                    </td>
                                </tr>
                              <% end %>
                       <% end %>
                    </tbody>
                </table>
        </div>
        <div class="clear">
        </div>
    </div>
        </section>
        <section id='side_body_content' class="grid_4">
                <%=raw @page.content_for(:side_body) %>
        </section>
        <br style="clear:both" />
    </div>
</div>
