<% content_for :javascripts do %>
  <%= javascript_include_tag 'http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2' %>
<% end %>
<div class="container_12"> 
	<div id="innerContent" class="">
		<section id='body_content' class="grid_12">
		  		<%=raw @page.content_for(:body) %>
		  		
		  		<h3>Our Team</h3>
		  		<div class=" headshot_listing">
					<% unless @brokersContact.blank? %>
				      <% @brokersContact.each do |currBroker| %>
						<div class="grid_3 headshot">
							<%= link_to (image_fu currBroker.headshot, :grid), refinery.brokers_broker_path(currBroker) %>
							<%= link_to currBroker.name, refinery.brokers_broker_path(currBroker) %>
						</div>
				      <% end %>
				    <% end %>
				</div>
		</section>
		<section id='side_body_content' class="grid_4">
				<%=raw @page.content_for(:side_body) %>
		</section>
		<br style="clear:both" />
	</div>
</div>