<div class="container_12">
<section id='body_content'>
		  <!-- HEADER -->
		<div  class="slider-frame">
	    <div class="main_view">
	      <div class="window">
	        <div class="image_reel" id="slider">
				<% @page.images.each_with_index do |image, index| %>
				        <%= link_to image_tag(image.thumbnail("960x348#c").url), image.thumbnail("960x348").url %>
				   <% end %>
	        </div>
	      </div>
	      <div class="paging">
			<% @page.images.each_with_index do |image, index| %>
	      		<a href="##" rel="<%= index+1 %>"><%= index+1 %></a>
			<% end %>
	      </div>
	    </div>
	  </div>
			<div class="clear"></div>

		  <!--<div class="grid_12"> <img src="/assets/shadow-divider-1.png" width="927" height="47" alt="Shadow" class="hr-divider"/></div>-->
		  <!-- end .grid_12 -->
		  <div class="grid_6">
			<%=raw @page.content_for(:side_body) %>
		  </div>
		  <!-- end .grid_6 -->
		  <div class="grid_6 mission_statement">
			<%=raw @page.content_for(:body) %>
		  </div>
		  <p>&nbsp;</p>
		  <div class="clear"></div>
</section>
</div>
